*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spotify-dark: #000000;
    --spotify-lightdark: #141922;
    --spotify-prymary: #6F6F6F;
    --spotify-open: #ADFF2F;
    --spotify-light: #FFFFFF;
    --spotify-player: #282828;



}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

/* utilities */

.container_page{
    height: 100vh;
}
.container{
    width: 100%;
    
}

.container_70{
    width: 70%;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}


.col_1{
    width: calc((100% / 12) * 1);
}

.col_2{
    width: calc((100% / 12) * 2);
}

.col_3{
    width: calc((100% / 12) * 3);
}

.col_4{
    width: calc((100% / 12) * 4);
}

.col_5{
    width: calc((100% / 12) * 5);
}

.col_6{
    width: calc((100% / 12) * 6);
}

.col_7{
    width: calc((100% / 12) * 7);
}

.col_8{
    width: calc((100% / 12) * 8);
}

.col_9{
    width: calc((100% / 12) * 9);
}

.col_10{
    width: calc((100% / 12) * 10);
}

.col_11{
    width: calc((100% / 12) * 11);
}

.col_12{
    width: calc((100% / 12) * 12);
}

.c_light{
    color: var(--spotify-light);
}



/* debug */
.debug .side_bar{
    border: 3px solid red;
}


.debug .album{
    background-color: #ADFF2F;
    height: 100%;
}
.debug .page_bottom{
    background-color: aqua;
}

.debug .menu, .debug .user{
    background-color: #ADFF2F;
    height: 100px;
}

.debug .page_bottom .col_3{
    border: 3px solid yellow;
    height: 100%;
}


.debug .col_2{
    height: 100px;
    width: 300px;
    border: 3px solid red;
}

/* #region page_top */

.page_top{
    height: calc(100% - 100px);
    display: flex;
}

/* start side_bar */
.side_bar{
    width: 200px;
    height: 100%;
    background-color: var(--spotify-dark);
    

}


.side_bar .box{
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
}

.side_bar .menu{
    height: 40%;
}
.side_bar .menu .logo{
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.side_bar .menu .open {
    border-left: 4px solid var(--spotify-open);
}

.side_bar .menu a{
    text-decoration: none;
    color: var(--spotify-prymary);
    display: block;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: 15px;
}

.side_bar .menu a> img{
    color: var(--spotify-prymary);
    
}

.side_bar .menu i{
    font-size: 30px;
    margin-right: 0.5rem;
}

.side_bar .menu .new_playlist_title{
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.side_bar .crea_playlist{
    align-items: center;
}


.side_bar .user {
    padding: 1.5rem;
    height: 15%;
}

.side_bar .user .user_name{
    align-items: center;
}

.side_bar .user a{
    color: var(--spotify-prymary);
    text-decoration: none;
    font-size: 10px;
}

.side_bar .user hr{
    color: var(--spotify-prymary);
    font-size: 2px;
    margin: 1rem 0;
}

.side_bar .user .user_name img{
    background-color: var(--spotify-prymary);
    border-radius: 50%;
}

.side_bar .user .user_name div{
    color: var(--spotify-light);
    font-size: 15px;
    margin-left: 0.5rem;
}

.side_bar .mobile_menu{
    display: none;
}

.side_bar .user_mobile{
    display: none;
}

/* start album */

.album{
    width: calc(100% - 200px);
    background-color: var(--spotify-lightdark);
}

.album .album_head{
    justify-content: end;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    width: 100%;
    align-items: center;

}
    


.album .album_head a{
    padding: 0.5rem 2rem;
    font-size: 15px;
    color: var(--spotify-light);
    border: 1px solid var(--spotify-light);
    border-radius: 30px;
    text-decoration: none;
    margin-right: 1rem;
}

.album .album_body{
    height: calc(100% - 80px);
    overflow-y: auto;
}



.album .album_body .navbar ul{
    justify-content: space-between;
    list-style: none;
}

.album .album_body .navbar li> a{
    text-decoration: none;
    color: var(--spotify-prymary);
    font-weight: bold;
}



.album .album_body .brani, .album .album_body .for_you, .album .album_body .popular{
    padding: 1rem;
}
.album .album_body .container h2{
    margin: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--spotify-light);
    padding-left: 1rem;

}

.album .album_body .container .col_2{
    padding: 1rem;
    text-align: center;
}

.album .album_body .container h4{
    color: var(--spotify-light);
    margin: 1rem 0;
    font-size: 15px;
    font-weight: bold;
    padding-left: 1rem;
}
.album .album_body .brani .col_2 .subtitle{
    color: var(--spotify-prymary);
    font-size: 10px;
}

.album .album_body .brani .row{
    margin-bottom: 1rem;
}

.album .album_body .for_you p{
    color: var(--spotify-light);
    font-size: 10px;
    padding-left: 1rem;

}

.album .album_body .popular p{
    color: var(--spotify-light);
    font-size: 10px;
    padding-left: 1rem;

}

#underline{
    text-decoration:underline var(--spotify-open) ;
    text-decoration-thickness: 3px;
    
}

/* start hover */

.album .album_head a:hover{
    font-size: 20px;
}

.side_bar a:hover, .album_body .navbar ul a:hover{
    color: var(--spotify-light);
}
.album .album_body .brani .card .img_box,
.album .album_body .for_you .img_box,
.album .album_body .popular .img_box{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgb(86, 85, 85);
}

.album .album_body .brani .img_box .icon, .album .album_body .for_you .img_box .icon,.album .album_body .popular .img_box .icon{
    display: none;
    font-size: 60px;
    color: var(--spotify-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album .album_body .brani .card:hover > .img_box .overlay,
.album .album_body .for_you .card:hover > .img_box .overlay,
.album .album_body .popular .card:hover > .img_box .overlay{
    opacity: 0.6;
}

.album .album_body .brani .card:hover > .img_box .icon,
.album .album_body .for_you .card:hover > .img_box .icon,
.album .album_body .popular .card:hover > .img_box .icon{
    display:block;
    
}



/* #endregion page_top */


/* #region page_bottom */

.page_bottom{
    height: 100px;
    background-color: var(--spotify-player);
}

.page_bottom .control_left, .page_bottom .control_right{
    flex-grow: 1;
    
}

.page_bottom .control_center{
    flex-grow: 2;
}
.page_bottom .control_left{
    padding: 1rem;
    align-items: center;
}
.page_bottom .control_left .logo_song{
    object-fit: contain;
    width: 40px;
}

.page_bottom .control_left .song{
    padding: 0.5rem;
    
}

.page_bottom .control_left .song .song_name{
    color: var(--spotify-light);
    font-weight: bold;
    font-size: 10px;
}

.page_bottom .control_left .song .brano_name{
    color: var(--spotify-prymary);
    font-weight: bold;
    font-size: 10px;
}

.page_bottom .control_left i{
    margin: 0 0.5rem;
    color: var(--spotify-prymary);
}

.page_bottom .control_left .left_icons{
    align-items: center;
}

/* start control center */
.page_bottom .control_center .control i{
    color: var(--spotify-light);
    margin: 0 0.5rem;
    font-size: 20px;
}

.page_bottom .control_center .control{
    text-align: center;
    padding: 1rem;
}

.page_bottom .control_center .song_bar{
    justify-content: center;
    align-items: center;
}

.page_bottom .control_center .song_bar .time_played, .page_bottom .control_center .song_bar .time_left{
    color: var(--spotify-light);
    font-size: 8px;
}

.page_bottom .control_center .song_bar .bar{
    width: 70%;
    background-color: var(--spotify-prymary);
    height: 4px;
    border-radius: 10px;
    margin: 0 0.8rem;
    display: flex;
    align-items: center;
}

.page_bottom .control_center .song_bar .bar .playing_bar{
    width: 30%;
    background-color: var(--spotify-light);
    height: 4px;
    border-radius: 10px;
}

/*  start control right */

.page_bottom .control_right {
    justify-content: flex-end;
    padding: 0.5rem;
    align-items: center;
}
.page_bottom .control_right i{
    color: var(--spotify-light);
    margin: 0 0.5rem;
    font-size: 10px;
}

.page_bottom .control_right .volume_bar{
    width: 50%;
    background-color: var(--spotify-prymary);
    height: 4px;
    border-radius: 10px;
    margin: 0 0.8rem;
    display: flex;
    align-items: center;
}

.page_bottom .control_right .volume_bar .volume{
    width: 20%;
    background-color: var(--spotify-light);
    height: 4px;
    border-radius: 10px;
}

.page_bottom .control_center .bar .point, .page_bottom .control_right .volume_bar .volume_point{
    width: 10px;
    height: 10px;
    background-color: var(--spotify-light);
    border-radius: 50%;
    display: none;
}
/* start hover */

.page_bottom .control_left .brano_name:hover, .page_bottom .control_left i:hover{
    color: var(--spotify-light);
}

#play:hover{
    font-size: 30px;
}

.page_bottom .control_center .song_bar .bar:hover > .playing_bar {
    background-color: var(--spotify-open);
    
}

.page_bottom .control_center .bar:hover > .point, .page_bottom .control_right .volume_bar:hover > .volume_point{
    display: block;
}

.page_bottom .control_right .volume_bar:hover > .volume{
    background-color: var(--spotify-open);
}













/* #endregion page_bottom */



/* #region media */

@media screen and (max-width:1024px) {

    .container_90{
        width: 90%;
        margin: auto;
    }
    
}

@media  screen and (max-width:800px) {
    
    /* utilities */
    .container_md_90{
        width: 90%;
        margin: auto;
    }

    .col_md_3{
        width: calc(100% / 12 * 3);
    }

    .col_md_12{
        width: 100%;
    }





    /* main */

    .album_body .navbar ul{
        flex-wrap: wrap;
    }

    .album_body .navbar ul li a{
        font-size: 15px;
    }

    .album_body .navbar ul:last-child{
        text-align: center;
        padding-top: 1.5rem;
    }

    
  
    .album .album_body .container h2{
        font-size: 20px;
        margin-bottom: 1rem;
    }


    .album .album_body .container h4{
        font-size: 10px;
        margin: 0.5rem 0;
    }

    .album .album_body .container .col_2{
        padding: 0.5rem;
    }
}




@media screen and (max-width:700px) {
    
    .col_small_4{
        width: calc(100% / 12 * 4);
        margin-top: 1rem;
    }

    .col_small_6{
        width: calc(100% / 12 * 6);
    }
    .page_bottom .control_center .control{
        padding: 1rem 0;
    }

    .side_bar .menu a, .side_bar .user a{
        font-size: 10px;
    }

    .side_bar .menu img, .side_bar .user img :not(.menu:first_child){
        width: 15px;
    }

    .side_bar .user img, .side_bar .user span{
        width: 15px;
    }
    .side_bar .menu .new_playlist_title{
        font-size: 15px;
    }

    .page_bottom .control_left .left_icons{
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    
    .side_bar{
        width: 40px;
    }

    .side_bar .mobile_menu, .side_bar .user_mobile{
        display: block;
    }

    .side_bar .menu, .side_bar .user{
        display: none;
    }
    
    .album{
        width: calc(100% - 40px);
    }
    .page_bottom .control_left .song{
        margin: 0;
        padding: 0;
        padding-left: 0.5rem;
        
    }

    .side_bar .mobile_menu, .side_bar .user_mobile{
        padding: 0.3rem;
        text-align: center;
    }

    .side_bar .mobile_menu img{
        margin-bottom: 0.5rem;
    }

    .side_bar .user_mobile img{
        background-color: var(--spotify-prymary);
        border-radius: 50%;
        margin-top: 1rem;
    }

    .side_bar .user_mobile i{
        color: var(--spotify-prymary);
    }

    #logo{
        filter: invert(1);
    }

    .d_none{
        display: none;
    }


}


