*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spotify-dark: #000000;
    --spotify-lightdark: #141922;
    --spotify-prymary: #6F6F6F;
    --spotify-open: #ADFF2F;
    --spotify-light: #FFFFFF;


}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

/* utilities */
.container{
    width: 100%;
    
}

.container_50{
    width: 50%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}


.col_1{
    width: calc((100% / 12) * 1);
}

.col_2{
    width: calc((100% / 12) * 2);
}

.col_3{
    width: calc((100% / 12) * 3);
}

.col_4{
    width: calc((100% / 12) * 4);
}

.col_5{
    width: calc((100% / 12) * 5);
}

.col_6{
    width: calc((100% / 12) * 6);
}

.col_7{
    width: calc((100% / 12) * 7);
}

.col_8{
    width: calc((100% / 12) * 8);
}

.col_9{
    width: calc((100% / 12) * 9);
}

.col_10{
    width: calc((100% / 12) * 10);
}

.col_11{
    width: calc((100% / 12) * 11);
}

.col_12{
    width: calc((100% / 12) * 12);
}

.c_light{
    color: var(--spotify-light);
}
/* debug */
.debug .side_bar{
    border: 3px solid red;
}


.debug .album{
    background-color: #ADFF2F;
    height: 100%;
}
.debug .page_bottom{
    background-color: aqua;
}

.debug .menu, .debug .user{
    background-color: #ADFF2F;
    height: 100px;
}

.debug .page_bottom .col_3{
    border: 3px solid yellow;
    height: 100%;
}


.debug .col_2{
    height: 100px;
    width: 300px;
    border: 3px solid red;
}

/* #region page_top */

.page_top{
    height: calc(100vh - 100px);
    display: flex;
}

/* start side_bar */
.side_bar{
    width: 300px;
    height: 100%;
    z-index: 999;
    background-color: var(--spotify-dark);
}


.side_bar .box{
    justify-content: space-between;
    height: 100%;
}

.side_bar .menu{
    height: 40%;
}
.side_bar .menu .logo{
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

.side_bar .menu .open {
    border-left: 4px solid var(--spotify-open);
}

.side_bar .menu a{
    text-decoration: none;
    color: var(--spotify-prymary);
    display: block;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: 15px;
}

.side_bar .menu a> img{
    color: var(--spotify-prymary);
    
}

.side_bar .menu i{
    font-size: 30px;
    margin-right: 0.5rem;
}

.side_bar .menu .new_playlist_title{
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.side_bar .user {
    padding: 1.5rem;
    height: 15%;
}

.side_bar .user a{
    color: var(--spotify-prymary);
    text-decoration: none;
    font-size: 10px;
}

.side_bar .user hr{
    color: var(--spotify-prymary);
    font-size: 2px;
    margin: 1rem 0;
}

.side_bar .user .user_name img{
    background-color: var(--spotify-prymary);
    border-radius: 50%;
}

.side_bar .user .user_name span{
    color: var(--spotify-light);
    font-size: 15px;
}

/* start album */

.album{
    width: calc(100vw - 300px);
    background-color: var(--spotify-lightdark);
}

.album .album_head{
    justify-content: end;
    height: 100px;
    z-index: 900;
    position: fixed;
    background-color: var(--spotify-dark);
    opacity: 0.5;
    width: 80%;
    align-items: center;

}

.album .album_head a{
    padding: 0.7rem 2rem;
    font-size: 15px;
    color: var(--spotify-light);
    border: 1px solid var(--spotify-light);
    border-radius: 30px;
    text-decoration: none;
    
}

.album .album_body{
    overflow: scroll;
}
.album .album_body .navbar{
    margin-top: 120px;
}


.album .album_body .navbar ul{
    justify-content: space-between;
    list-style: none;
}

.album .album_body .navbar li> a{
    text-decoration: none;
    color: var(--spotify-prymary);
}

.album .album_body .navbar li> hr{
    width: 40%;
    color: #ADFF2F;
    font-size: 3px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.3rem;
}

.album .album_body .brani, .album .album_body .for_you{
    padding: 1rem;
}
.album .album_body .container h2{
    margin: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--spotify-light);
    padding-left: 1rem;

}

.album .album_body .container .col_2{
    padding: 1rem;
    text-align: center;
}

.album .album_body .container h4{
    color: var(--spotify-light);
    margin: 1rem 0;
    font-size: 15px;
    font-weight: bold;
    padding-left: 1rem;
}
.album .album_body .brani .col_2 .subtitle{
    color: var(--spotify-prymary);
    font-size: 10px;
}

.album .album_body .brani .row{
    margin-bottom: 1rem;
}

.album .album_body .for_you p{
    color: var(--spotify-light);
    font-size: 10px;
    padding-left: 1rem;

}


/* #endregion page_top */


/* #region page_bottom */

.page_bottom{
    height: 100px;
    z-index: 1000;
}



/* #endregion page_bottom */